@charset "UTF-8";

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/proximanova-regular-webfont.woff);
}

/* custom column by ji-----------------------------> */
.j-row {
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.j-col {
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}
.j-sm-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 50%;
}
.j-sm-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.j-col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.j-mr-auto {
    margin-right: auto !important;
}
  
@media screen and (min-width: 550px) {
    .j-md-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}
@media screen and (min-width: 850px) {
    .j-lg-3 {
        max-width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .j-lg-4 {
        max-width: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
    .j-lg-5 {
        max-width: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    }
    .j-lg-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .j-lg-7 {
        max-width: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    }
    .j-lg-8 {
        max-width: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
}
/* end custom column ----------------------------- */



*, *::before, *::after {
    font-family: ProximaNova;
}
body {
    margin: 0;
    background-color: #fff;
}

/* menu filter */
.main-container .filter-strip {
    padding: 15px;
    text-align: center;
    border-bottom: 2px #ddd solid;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.main-container .filter-strip .filter-button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
}
.main-container .filter-strip .filter-button:hover {
    background-color: #f4f4f4;
}
.main-container .filter-strip .filter-button.selected {
    background-color: #f4f4f4;
    font-weight: 700;
}

/* main content wrap */
.content {
    width: calc(100vw - 362px);
    height: 100%;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;
    height: 100%;
    padding-bottom: 80px;
    overflow: hidden;
}
.content .TilesStrip {
    padding-left: 0;
    padding-top: 50px;
    padding-right: 0;
    box-sizing: border-box;
    overflow: visible !important;
    display: flex;
    width: unset;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    height: unset;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.TilesStrip:after {
    content: "";
    width: 20px;
    height: 100%;
    flex-shrink: 0;
}
.tile {
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 253px;
    height: 253px;
    flex-shrink: 0;
    position: relative;
    /* will-change: transform, scroll-position, width, opacity; */
    animation: tile-appear .6s;
    cursor: pointer;
}
.tile_base {
    position: absolute;
    top: 1px;
    left: 5px;
    right: 10px;
    bottom: 14px;
    box-shadow: 2.02px 24.24px 24.24px rgba(0, 0, 0, .3), 6.06px 29.28px 56.55px rgba(0, 0, 0, .2);
}
/* add new image frame */
.tile .image_add {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 43px;
    width: 43px;
    padding: 10px;
    border-radius: 9px;
    box-sizing: unset;
    pointer-events: all !important;
}
.tile .image_add:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
.tile .image_add .icon {
    width: 43px;
    height: 43px;
}

/* hide frame when empty image */
.tile[image=empty] .TileFrame, .tile[image=empty] .frameless {
    display: none;
}
.tile[image=empty] .tile_base {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
/* hide add image btn when exist image */
.tile[image=exist] .image_add {
    display: none;
}

/* has image */
.tile .frameless {
    background-color: #f4f4f4;
    cursor: pointer;
    position: absolute;
    right: 30px;
    overflow: hidden;
    width: 36px;
    height: 36px;
    pointer-events: none;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,.05);
    border-radius: 9px;
    pointer-events: all !important;
    visibility: hidden;
}
.tile:hover .frameless {
    visibility: visible;
}
.tile .frameless .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 18px;
}
.tile .frameless.crop {
    top: 20px;
}
.tile .frameless.remove {
    top: 65px;
}
.tile .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 236px;
    height: 236px;
    margin-left: -5px;
    margin-top: -13px;
    animation: fade-in .4s;
}
.tile .preview .preview_image {
    width: 100%;
}

/* popup crop image */
.popup_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    overflow-y: scroll;
}
.popup_overlay .popup_container {
    max-width: 600px;
    background: #fff;
    margin: 0 auto;
    border: 1px solid #cccccc;
    z-index: 999999;
    border-radius: 10px;
    position: relative;
}
.popup_overlay .popup_head {
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.popup_overlay .cropper_wrap {
    height: 60vh;
    min-height: 200px;
    padding-bottom: 43px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}

.popup_head .pull_right {
    text-align: right;
}
.done_button {
    color: #ff0073;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
.TileFrame {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TileFrame,
.TileFrame .frame {
    position: absolute;
    top: 0;
    width: 100%;
}
.TileFrame .frame.hidden {
    visibility: hidden;
}

/* footer checkout wrap */
.bottom_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    z-index: 3;
}
.bottom_bar .checkout_wrap {
    padding: 15px;
    text-align: center;
}
.bottom_bar .checkout_wrap .checkout_btn {
    background-color: #ff0072;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin: 0;
}

/* 
 * apply filter frame ---------------------------------------->
*/

/* Filter Classic */
.TilesStrip[filter=frame_classic] .TileFrame .frame.fr_white_1,
.TilesStrip[filter=frame_classic] .TileFrame .frame.fr_white_2,
.TilesStrip[filter=frame_classic] .TileFrame .frame.fr_none {
    visibility: hidden;
}
.TilesStrip[filter=frame_classic] .preview {
    width: 177px;
    height: 177px;
    padding-top: 1px;
}
/* Filter Bold */
.TilesStrip[filter=frame_bold] .TileFrame .frame.fr_white_1,
.TilesStrip[filter=frame_bold] .TileFrame .frame.fr_white_2,
.TilesStrip[filter=frame_bold] .TileFrame .frame.fr_none {
    visibility: hidden;
}
/* filter Ever */
.TilesStrip[filter=frame_ever] .TileFrame .frame.fr_black_1,
.TilesStrip[filter=frame_ever] .TileFrame .frame.fr_black_2,
.TilesStrip[filter=frame_ever] .TileFrame .frame.fr_none {
    visibility: hidden;
}
.TilesStrip[filter=frame_ever] .preview {
    width: 177px;
    height: 177px;
    padding-top: 1px;
}
/* filter Clean */
.TilesStrip[filter=frame_clean] .TileFrame .frame.fr_black_1,
.TilesStrip[filter=frame_clean] .TileFrame .frame.fr_black_2,
.TilesStrip[filter=frame_clean] .TileFrame .frame.fr_none {
    visibility: hidden;
}
/* filter Edge */
.TilesStrip[filter=frame_edge] .TileFrame .frame.fr_black_1,
.TilesStrip[filter=frame_edge] .TileFrame .frame.fr_black_2,
.TilesStrip[filter=frame_edge] .TileFrame .frame.fr_white_1,
.TilesStrip[filter=frame_edge] .TileFrame .frame.fr_white_2 {
    visibility: hidden;
}
.TilesStrip[filter=frame_edge] .preview {
    width: 239px;
    height: 239px;
    margin-top: -14px;
}

/* woocommerce checkout */
.woo_checkout_container {
    display: none;
    max-width: 1080px;
    margin: auto;
}
/* hiden woocommerce place order button */
.woo_checkout_container button[type="submit"] {
    display: none !important;
}
/* custom place order button */
.woo_checkout_container #wupf_place_order {
    width: 100%;
}

/* animation loading */
.wupf_loading {
    opacity: 1 !important;
    position: relative;
    /* color: rgba(255, 255, 255, 0.05); */
    pointer-events: none !important;
  }
  .wupf_loading::before {
    content: "";
    background-color: rgb(215 215 215 / 30%);
    height: 100%;
    position: absolute;
    z-index: 9999;
    left: -15px;
    right: -15px;
}
  .wupf_loading:after {
    content: "";
    animation: spin 500ms infinite linear;
    border: 3px solid #bebebe;
    border-radius: 32px;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    display: block;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 40px;
  }

/* mobile */
@media screen and (max-width: 549px) {
    .content .TilesStrip {
        overflow: scroll !important;
        flex-wrap: nowrap;
        justify-content: unset;
    }
}